* {
  box-sizing: border-box;
}

.title {
  font-family: 'Fredoka One', cursive;
  font-size: 5.5vmin;
  position: fixed;
}

.gameboard-container {
  height: 97.7vh;
  width: 97.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  margin-top: 3vmin;
  height: 75vmin;
  width: 75vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Fredoka One', cursive;
  font-size: 75vmin;
}

.large-cell {
  height: 25vmin;
  width: 25vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25vmin;
}

.small-gameboard {
  height: 19.5vmin;
  width: 19.5vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.small-cell {
  height: 6.5vmin;
  width: 6.5vmin;
}

.zero {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.one {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.two {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.three {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.four {
  border: 1px solid black;
}

.five {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.six {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.seven {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.eight {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
