* {
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

#title {
  font-size: 6vmin;
  position: fixed;
}

#winner {
  font-size: 3.4vmin;
  font-style: italic;
  position: fixed;
  top: 9.7vmin;
}

.ttt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gameboard-container {
  height: 97.7vh;
  width: 97.8vw;
}

.gameboard {
  margin-top: 3vmin;
  height: 75vmin;
  width: 75vmin;
  font-size: 75vmin;
}

.small-gameboard {
  height: 19.5vmin;
  width: 19.5vmin;
}

.zero {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.one {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.two {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.three {
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.four {
  border: 1px solid lightgray;
}

.five {
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.six {
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.seven {
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.eight {
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.large-cell {
  height: 25vmin;
  width: 25vmin;
  font-size: 25vmin;
  border-color: black;
  color: lightgray;
}

.small-cell {
  height: 6.5vmin;
  width: 6.5vmin;
  font-size: 6.5vmin;
  color: lightgray;
}

.active {
  border-color: black;
  color: black;
}
